<%= simple_form_for(@announcement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :announcement_title %>
    <%= f.input :announcement_text %>
    <%= f.input :announcement_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
