<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>

<section id="jumbotron-landing" class="container-fluid row">
  <div class="col-md-4 jumbotron-left-div" style="padding-top:7%;">
    
  </div>
  <div class="col-md-8">
    <div class="col-md-1"></div>
    <center>
      <div class="col-md-10">
        <div class="sign_up_form-home">
         <div class="card-home log_form">
           <div class="header-home">
             <h2 class=" signin-text" style="font-size:5vh; font-weight:bold;">Edit Password</h2>
           </div>
           <br>
           <div class="card-home-inner signin-text" style="padding-bottom:5vh;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email, :class=>"card-home-label signin-text" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,"New Password", :class=>"card-home-label signin-text" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class=>"card-home-label signin-text" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, :class=>"card-home-label signin-text" %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Change Password",:class=>"btn sign-in-home btncont-home signin-text" %>
  </div>
<% end %>

<%= link_to "Back", :back, :style=>"color:white;" %>
        </div>
      </div>
    </div>
  </center>
</div>
















