<!DOCTYPE html>
<html>
<head>
<% @date1 = Date.today  %> 
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">
    <div class="card">
      <div class="card_header">
      <!-- Tab for switching between views-->
       <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">My Meal Plan</a></li>
        <li><a href="#tab-2">Menu</a></li>
        
    </ul>
      </div>
  
    <div class="container-fluid p1_abox">
    <!-- Display of today's meal-->
        <div id="tab-1" class="row tab-content">

        <div class="col-md-3">
          <div class="fp-tab">
            <center>
            <br>
            Today
            <br>
            <%= @date1.strftime("%B %e, %A")%><br><br>
            <%@food_plans.each do |f|%>
            <%if f.food_plan_date==Date.today%>
              <%currentmeal=f.meal%>
            <%end%>

             <% @meals.each do |meal| %>
             <%if currentmeal==meal.name%>
              <span class="fpmeal"><%= meal.name %></span>
              <br><br>
              <span class="fp-header">Breakfast</span><br><br>
              <span><%= meal.breakfast_meal %></span><br>
              <span><%= meal.breakfast_drink %></span><br>
              <br>
              <span class="fp-header">Lunch</span><br>
              <br>
              <span><%= meal.lunch_meal %></span><br>
              <span><%= meal.lunch_drink %></span><br>
              <br>
              <span class="fp-header">Dinner</span><br>
              <br>
              <span><%= meal.dinner_meal %></span><br>
              <span><%= meal.dinner_drink %></span><br>
              <br>
              <span><%= meal.price %></span>
              <br>

              <%end%>
            <% end %>
            <%end%>            
            </center>
          </div>
        </div>
        <div class="col-md-9" style="padding-top:7px;">
        <%= week_calendar number_of_weeks: 4, events: @food_plans do |date, food_plans| %>
          <%= date.day %>
          <%if date>Date.today%>
          <%= link_to '+', applicant_food_plans_path(abc: date, applicant_id: @applicant.id),:method=> :post,:style=>"color:black;visibility:visible;float:right;font-weight:700;font-size:17px;",:class=>"linkplus"%>
          <%end%>


          <% food_plans.each do |food_plan| %>
          <%if food_plan.food_plan_date<=Date.today%>
              <p class="linkx"></p>
               <!-- Displays proper collection select-->
                <%if food_plan.meal==nil%>
                <%=collection_select(:post, :food_plan_id, Meal.all, :name, :name, {prompt: '---'}, {:id=>"fsel", :onchange=>"window.location='#{meal_select_path(@applicant.id, food_plan.id)}?meal=' + this.value"})%>
                <%else%>
                <%=collection_select(:post, :food_plan_id, Meal.all, :name, :name, {selected: food_plan.meal}, {:id=>"fsel",:style=>"border-color:transparent!important;box-shadow:none!important;margin-top:-2px;", :onchange=>"window.location='#{meal_select_path(@applicant.id, food_plan.id)}?meal=' + this.value",:disabled=>true})%>
                <%end%>
            <%else%>
          <%if food_plan!=nil%>
          <%= link_to 'x', applicant_food_plan_path(@applicant.id, food_plan.id),:style=>"color:black;visibility:visible;float:right;font-weight:700;font-size:14px;",:class=>"linkx", method: :delete, data: { confirm: 'Are you sure?' } %>
           <!-- Displays proper collection select-->
          <%if food_plan.meal==nil%>
                    <%=collection_select(:post, :food_plan_id, Meal.all, :name, :name, {prompt: '---'}, {:id=>"fsel", :onchange=>"window.location='#{meal_select_path(@applicant.id, food_plan.id)}?meal=' + this.value"})%>
          <%else%>
          <%=collection_select(:post, :food_plan_id, Meal.all, :name, :name, {selected: food_plan.meal}, {:id=>"fsel", :onchange=>"window.location='#{meal_select_path(@applicant.id, food_plan.id)}?meal=' + this.value"})%>
          <%end%>
          <%end%>
            <%end%>
          <div >

          </div>
          <%end%>
        <% end %>
        </div>

        </div>
        <div id="tab-2" class="tab-content row fp-row">
          <% @meals.each do |meal| %>
          <div class="col-md-3">
              <div class="fp-card">
              <span class="fpmeal"><%= meal.name %></span>
              <br><br>
              <span class="fp-header">Breakfast</span><br><br>
              <span><%= meal.breakfast_meal %></span><br>
              <span><%= meal.breakfast_drink %></span><br>
              <br>
              <span class="fp-header">Lunch</span><br>
              <br>
              <span><%= meal.lunch_meal %></span><br>
              <span><%= meal.lunch_drink %></span><br>
              <br>
              <span class="fp-header">Dinner</span><br>
              <br>
              <span><%= meal.dinner_meal %></span><br>
              <span><%= meal.dinner_drink %></span><br>
              <br><br>
              <span><%= meal.price %></span>
              <br>

              </div>
          </div>
      
    <% end %>

        
        </div>
        
    </div>



    </div>


  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
<script>
  $(document).ready(function() {

    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});

</script>
<!--
<script type="text/javascript">
    $(document).ready(function(){
        if ($('.linkx').length) {
    $('.linkplus').hide();
}
    });   
</script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.linkx').prev().remove();
        });
    </script>
</html>













      <table>
  <thead>
    <tr>
      <th>Food plan date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_plans.each do |food_plan| %>
      <tr>
        <td><%= food_plan.food_plan_date %></td>
        <td><%= link_to 'Show', applicant_food_plan_path(@applicant.id, food_plan.id) %></td>
        <td><%= link_to 'Edit', edit_applicant_food_plan_path(@applicant.id, food_plan.id) %></td>
        <td><%= link_to 'Destroy', applicant_food_plan_path(@applicant.id, food_plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food plan', new_applicant_food_plan_path(@applicant.id) %>