<!DOCTYPE html>
<html>
<head>
<% @date1 = Date.today  %> 
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header">
        <center>
          <span class="p1_title"><%= @date1.strftime("%B")%></span>
        </center>
      </div>
      <div class="container-fluid p1_abox">
        <div class="row">
        <div class="col-md-3">
          <div class="fp-tab">
            <center>
            <br>
            Today
            <br>
            <%= @date1.strftime("%B %e, %A")%>
            </center>
          </div>
        </div>
        <div class="col-md-9" style="padding-top:7px;">
        <%= week_calendar number_of_weeks: 4, events: @food_plans do |date, food_plans| %>
          <%= date.day %> 
          <% food_plans.each do |food_plan| %>
          <div style="text-align:center;margin-top:7px;font-family: 'Pacifico', cursive!important;font-size:16px;">
          <%= "Vegetarian I" %>
          </div>
          <%end%>
        <% end %>
        </div>
        </div>
      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>













      <table>
  <thead>
    <tr>
      <th>Food plan date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_plans.each do |food_plan| %>
      <tr>
        <td><%= food_plan.food_plan_date %></td>
        <td><%= link_to 'Show', food_plan %></td>
        <td><%= link_to 'Edit', edit_food_plan_path(food_plan) %></td>
        <td><%= link_to 'Destroy', food_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food plan', new_food_plan_path %>