<!DOCTYPE html>
<html>
<head>
<% @date1 = Date.today  %> 
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">

      <div class="card_header">
       <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">Menu</a></li>
        <li><a href="#tab-2">My Meal Plan</a></li>
        
    </ul>
        <center>
          <span class="p1_title"><%= @date1.strftime("%B")%></span>
        </center>
      </div>
  
    <div class="container-fluid p1_abox">
        <div id="tab-2" class="row tab-content">

        <div class="col-md-3">
          <div class="fp-tab">
            <center>
            <br>
            Today
            <br>
            <%= @date1.strftime("%B %e, %A")%><br>
            </center>
          </div>
        </div>
        <div class="col-md-9" style="padding-top:7px;">
        <%= week_calendar number_of_weeks: 4, events: @food_plans do |date, food_plans| %>
          <%= date.day %><%= link_to '+', new_food_plan_path,:style=>"color:black;visibility:visible;float:right;font-weight:700;font-size:17px;" %> 
          <% food_plans.each do |food_plan| %>
          <div >
          <select id="fsel"style="text-align:center;margin-top:7px;font-family: 'Pacifico', cursive!important;font-size:14px;" >
            <option value="">Please select</option>
            <option value="1" selected="selected">Vegetarian I</option>
            <option value="2">Vegetarian II</option>
            <option value="3">Vegetarian III</option>
          </select>
          </div>
          <%end%>
        <% end %>
        </div>

        </div>
        <div id="tab-1" class="tab-content row fp-row">
          <% @meals.each do |meal| %>
          <div class="col-md-3">
              <div class="fp-card">
              <span class="fpmeal"><%= meal.name %></span>
              <br><br>
              <span class="fp-header">Breakfast</span><br>
              <span><%= meal.breakfast_meal %></span><br>
              <span><%= meal.breakfast_drink %></span><br>
              <br>
              <span class="fp-header">Lunch</span><br>
              <br>
              <span><%= meal.lunch_meal %></span><br>
              <span><%= meal.lunch_drink %></span><br>
              <br>
              <span class="fp-header">Dinner</span><br>
              <br>
              <span><%= meal.dinner_meal %></span><br>
              <span><%= meal.dinner_drink %></span><br>
              <br><br>
              <span><%= meal.price %></span>
              <br>
              <span><%= link_to 'Show', meal %></span>
              <span><%= link_to 'Edit', edit_meal_path(meal) %></span>
              <span><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></span>
              </div>
          </div>
      
    <% end %>

        
        </div>
        
    </div>



    </div>


  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
</script>
</html>













      <table>
  <thead>
    <tr>
      <th>Food plan date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_plans.each do |food_plan| %>
      <tr>
        <td><%= food_plan.food_plan_date %></td>
        <td><%= link_to 'Show', food_plan %></td>
        <td><%= link_to 'Edit', edit_food_plan_path(food_plan) %></td>
        <td><%= link_to 'Destroy', food_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food plan', new_food_plan_path %>