<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">
    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <div class="col-md-5">
          
        </div>
        <div class="col-md-2">
        <center>
           Meal Plans for <%=Date.today%>
          </center>

        </div>
        <div class="col-md-5">
                          <form>

<button class="choosebtnprint"  onclick="printDiv('printableArea')" value="print a div!">Print Form</button>
<%=link_to "Send to Caterer",food_email_path , :controller=> "food_plans",:action=>:food_email, method: 'post',:class=>"choosebtnprint", :style=>"margin-right:15px;"%>

</form>
        </div>

        </div>
        
      </div>
      <%boom=[]%>
      <%count=[]%>
      <%ilan=0%>
      <div class="container-fluid p1_mbox">
      <% @meals.each do |m| %>
        <%ilan=ilan+1%>
        <%boom.push(m.name)%>
        <%count.push(0)%>
      <%end%>

      <% @food_plans.each do |food_plan| %>
      <!-- array here to count per plan-->
        <%bcount=0%>
        <%for i in 0..ilan%>
          <%if food_plan.meal==boom[i]%>
            <%count[i]=count[i]+1%>
            <%break%>
          <%end%>
       
        <%end%>

      <%end%>
      <br><br><br><br><br><br>
      <div class="row">
      <div class="col-md-5">
        <div class="row">
          <center> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Order Summary:</b></center>
          <br style="line-height:12px;">
        </div>
        <div class="meal-sum row">
          <%num=0%>
          <% @meals.each do |m| %>
          <div class="col-md-3 mealbox"><center>
          <br>
          <%=m.name%><br>
          <%=count[num]%>
          <%num=num+1%>
          </center>
          </div>

          <%end%>
        </div>
      </div>
      <br>
      <div class="col-md-7" >
        <div class="row"style="padding-left:4vw;padding-right:4vw;margin-top:-2vh;">
        <center>
          <div class="col-md-4"><b>Meal</b></div>
          <div class="col-md-4"><b>Ordered by</b></div>
          <div class="col-md-4"><b>Room Number</b></div>
          </center>
        </div>
        <br style="line-height:25px;">
      <div class="scrollboxf col-md-12"style="padding-left:4vw;padding-right:4vw;">
      <% @food_plans.each do |food_plan| %>
        <div class="row">
        <center>
        <div class="col-md-4"><%=food_plan.meal%> </div>

        <div class="col-md-4"><%=food_plan.applicant.first_name%>
        <%=food_plan.applicant.last_name%></div>

        <div class="col-md-4"><%=food_plan.applicant.room_number%></div>
        </center>
        </div>
        <hr class="hr-sh">
        
      <%end%>
    </div>

    </div>
    </div>

      </div>



    </div>

  </div>
</body>
<div id="printableArea">
<br><br>
      <center><h1><b>Meal Plans for <%=Date.today%></b></h1>

      <br>
                <%nm=0%>
          <% @meals.each do |m| %>
          <%=m.name%>: 
          <%=count[nm]%>

          <%nm=nm+1%>

          <%if nm % 3 == 0%>
            <br>
          <%end%>

          
          <%end%>
          <br><br>
        <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Meal Plan</th>
      <th>Ordered by</th>
      <th>Room Number</th>
      <th>Received by</th>
      <th>Signature</th>
    </tr>
  </thead>

  <tbody>
    <%countint=1%>
    <% @food_plans.each do |food_plan| %>
      <tr>
        <td><%=countint%></td>
        <td><%= food_plan.meal %></td>
        <td><%=food_plan.applicant.first_name%>
        <%=food_plan.applicant.last_name%></td>
        <td><%=food_plan.applicant.room_number%></td>
        <%countint+=1%>
        <td></td>
        <td></td>
      </tr>
    <% end %>


  </tbody>
</table>
      </center>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
<script language="JavaScript"> 
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}</script>
</html>
