<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name,:class=>"flabel" %> <%= f.text_field :last_name,:class=>"ffield",:required=>"true" %>
  </div>
  <div class="field">
    <%= f.label :first_name,:class=>"flabel" %>
    <%= f.text_field :first_name,:class=>"ffield",:required=>"true" %>
  </div>
  <div class="field">
    <%= f.label :middle_initial,:class=>"flabel" %>
    <%= f.text_field :middle_initial,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :nickname,:class=>"flabel" %>
    <%= f.text_field :nickname,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :image_path,:class=>"flabel" %>
    <%= f.text_area :image_path,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :gender,:class=>"flabel" %>
    <%= f.text_field :gender,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :civil_status,:class=>"flabel" %>
    <%= f.text_field :civil_status,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :address,:class=>"flabel" %>
    <%= f.text_area :address,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :contact_number,:class=>"flabel" %>
    <%= f.text_field :contact_number,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :landline_number,:class=>"flabel" %>
    <%= f.text_field :landline_number,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :email,:class=>"flabel" %>
    <%= f.text_field :email,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :nationality,:class=>"flabel" %>
    <%= f.text_field :nationality,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :religion,:class=>"flabel" %>
    <%= f.text_field :religion,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :birthday,:class=>"fslabel" %>
    <%= f.date_select :birthday,:class=>"fselect"  %>
  </div>
  <div class="field">
    <%= f.label :school,:class=>"flabel" %>
    <%= f.text_field :school,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :school_address,:class=>"flabel" %>
    <%= f.text_area :school_address,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :major,:class=>"flabel" %>
    <%= f.text_field :major,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :year,:class=>"flabel" %>
    <%= f.number_field :year,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :medical_information,:class=>"flabel" %>
    <%= f.text_area :medical_information,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :personal_information,:class=>"flabel" %>
    <%= f.text_area :personal_information,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :guardian_name,:class=>"flabel" %>
    <%= f.text_field :guardian_name,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :guardian_contact_number,:class=>"flabel" %>
    <%= f.text_field :guardian_contact_number,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :guardian_address,:class=>"flabel" %>
    <%= f.text_area :guardian_address,:class=>"ffield"  %>
  </div>
  <div class="field">
    <%= f.label :guardian_email,:class=>"flabel" %>
    <%= f.text_field :guardian_email,:class=>"ffield"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Form', class: "btn sendbtn" %>
  </div>
<% end %>
