<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">

      <div class="card_header" style="padding-left:3vw;padding-right:3vw;">
      <div class="row">
        <div class="col-md-2">
          <%= autocomplete_field_tag 'applicant', '', autocomplete_applicant_first_name_rooms_path, :class=>"appsearch",:style=>"border-radius:0px;padding:2px;color:black;", :placeholder => "(Tenant Name)" %>
        </div>
        <div class="col-md-2">
           <center>Tenant</center>
        </div>
        <div class="col-md-1">
          <center>Room</center>
        </div>
        <div class="col-md-2">
          <center>
          Dues
          </center>
        </div>
        <div class="col-md-2">
          <center>
          Lease End
          </center>
        </div>
        <div class="col-md-3">
          <center>
          Actions
          </center>
        </div>


        </div>
        
      </div>
      <div class="container-fluid p1_abox">
        
      <br><br><br><br>
      <br><br><br>
      <div class="scrollbox"style="padding-left:3vw;padding-right:3vw;">
      <% @applicants.each do |applicant| %>
      <%name=applicant.first_name%> <%name+=" "+applicant.last_name%>
      <div class="row <%=name%>">
        <%if applicant.image_path.exists?%>

          <div class="col-md-2"><div style="width:45px;height:45px;margin-top:0px;background-image:url(<%=applicant.image_path.url%>);background-size:cover;border-radius:22.5px;margin-left:15px;"></div>
      <%if applicant.door_log==true%>
      <%= image_tag('/assets/in.png',:style=>"height:22px;margin-left:62px;margin-top:-39px;") %>
      <%else%>
      <%= image_tag('/assets/out.png',:style=>"height:22px;margin-left:62px;margin-top:-39px;") %>
      <%end%> 
          </div>
        <%else%>
        <div class="col-md-2"><div style="width:45px;height:45px;margin-top:0px;background-image:url(/assets/filler-img.png);background-size:cover;border-radius:22.5px;margin-left:15px;"></div>
              <%if applicant.door_log==true%>
      <%= image_tag('/assets/in.png',:style=>"height:22px;margin-left:62px;margin-top:-39px;") %>
      <%else%>
      <%= image_tag('/assets/out.png',:style=>"height:22px;margin-left:62px;margin-top:-39px;") %>
      <%end%> 
        </div>
        <%end%>

      <div class="col-md-2" style="padding-top:15px;"> <center><%=name%></center></div>

         <div class="col-md-1" style="padding-top:15px;"> <center><%if applicant.room_id==nil%>

         <%else%>
         <%=applicant.room.room_number%>
         <%end%>
         </center></div>
          <div class="col-md-2" style="padding-top:15px;"> <center>0.00</center></div>
          <div class="col-md-2" style="padding-top:15px;"> <center>
          <%if applicant.lease_end!=nil%>
          <%if DateTime.now <applicant.lease_end%>
          <%=applicant.lease_end%>
          <%else%>
          <span style="color:#9d9d9d;">
          <%=applicant.lease_end%>
          </span>
          <%end%> 
          <%end%>

          </center></div>
          <div class="col-md-3" style="padding-top:15px;"> <center>
            <%=link_to "View",show_dormer_path(applicant.id)%> | <%= link_to 'Delete', applicant, method: :delete, data: { confirm: 'Are you sure?' } %> | <%=link_to "Edit",edit_applicant_path(applicant)%>
          </center></div>

      </div>
<hr class="hr-dormer">
<%end%>
      </div>
      

    </div>


      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
