<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header">
        <center>
          <span class="p1_title">DORMUS Application Process</span>
        </center>
      </div>
      <div class="container-fluid p1_abox">
        
  <table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Requested Room</th>
      <th>Stage</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.first_name %> <%= applicant.middle_initial %> <%= applicant.last_name %></td>
        <td><%= applicant.room_type %></td>
        <td>STAGE</td>
        <td><%= link_to 'Show', applicant %> &nbsp&nbsp&nbsp<%= link_to 'Edit', edit_applicant_path(applicant) %> &nbsp&nbsp&nbsp<%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
