<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <div class="col-md-1">
          
        </div>
        <div class="col-md-4">
          Tenant Information Sheet
        </div>

        <div class="col-md-2">
          Given
        </div>
        <div class="col-md-2">
          Status
        </div>
        <div class="col-md-3">
          Actions
        </div>
        </div>
        
      </div>
      <div class="container-fluid p1_abox">
        
      <br><br><br><br>
      <br><br><br>
      <div class="scrollbox"style="padding-left:3vw;">
      <br>
    <% @applicants.each do |applicant| %>
      <div class="row indexappli">
        <%if applicant.image_path.exists?%>
            <div class="col-md-1"><div style="width:45px;height:45px;margin-top:-18px;background-image:url(<%=applicant.image_path.url%>);background-size:cover;border-radius:22.5px;"></div></div>
        <%else%>
        <div class="col-md-1"><div style="width:45px;height:45px;margin-top:-18px;background-image:url(/assets/filler-img.png);background-size:cover;border-radius:22.5px;"></div></div>
        <%end%>
        <div class="col-md-4"  style="margin-top:-3px;"><%= applicant.first_name %> <%= applicant.middle_initial %> <%= applicant.last_name %></div>
        
        <div class="col-md-2" style="margin-top:-3px;">
        <%if applicant.room_number==nil%>
        <%if applicant.room_type=="Any"%>
          <%=collection_select(:post, :applicant_id, Room.all, :room_number, :room_number, {prompt: '---'}, {:class=>"csel", :onchange=>"window.location='#{room_select_path(applicant.id)}?room_number=' + this.value"})%>
        <%else%>
          <%=collection_select(:post, :applicant_id, Room.where(room_type: "#{applicant.room_type}"), :room_number, :room_number, {prompt: '---'}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(applicant.id)}?room_number=' + this.value"})%>
          <%end%>
        <%else%>
          <%if applicant.room_type=="Any"%>
          <%=collection_select(:post, :applicant_id, Room.all, :room_number, :room_number, {selected: applicant.room_number}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(applicant.id)}?room_number=' + this.value"})%>
          <%else%>
          <%=collection_select(:post, :applicant_id, Room.where(room_type: "#{applicant.room_type}"), :room_number, :room_number, {selected: applicant.room_number}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(applicant.id)}?room_number=' + this.value"})%>
          <%end%>
        <%end%>

        </div>
        <div class="col-md-2" style="margin-top:-3px;"><%=applicant.stage%></div>
        <div class="col-md-3" style="margin-top:-3px;">
<%= link_to 'View Tenant Form', show_applicant_path(applicant) %> </div>
        
      </div>
      <hr>
    <% end %>
    </div>


      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
