<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @applicant.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @applicant.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @applicant.middle_initial %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @applicant.nickname %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @applicant.image_path %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @applicant.gender %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @applicant.civil_status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @applicant.address %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @applicant.contact_number %>
</p>

<p>
  <strong>Landline number:</strong>
  <%= @applicant.landline_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @applicant.nationality %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @applicant.religion %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @applicant.birthday %>
</p>

<p>
  <strong>School:</strong>
  <%= @applicant.school %>
</p>

<p>
  <strong>School address:</strong>
  <%= @applicant.school_address %>
</p>

<p>
  <strong>Major:</strong>
  <%= @applicant.major %>
</p>

<p>
  <strong>Year:</strong>
  <%= @applicant.year %>
</p>

<p>
  <strong>Medical information:</strong>
  <%= @applicant.medical_information %>
</p>

<p>
  <strong>Personal information:</strong>
  <%= @applicant.personal_information %>
</p>

<p>
  <strong>Guardian name:</strong>
  <%= @applicant.guardian_name %>
</p>

<p>
  <strong>Guardian contact number:</strong>
  <%= @applicant.guardian_contact_number %>
</p>

<p>
  <strong>Guardian address:</strong>
  <%= @applicant.guardian_address %>
</p>

<p>
  <strong>Guardian email:</strong>
  <%= @applicant.guardian_email %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
