<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="">
      <center>
      <span style="font-size:18px;">Applicant Profile</span>
      </center>
        
      </div>
<div class="container-fluid appli_abox">
        <div class="">
          <div class="col-md-4">
            <div id="imgholder" class="imgholder1" style="background-size:cover;background-position:center;background-image:url(<%=@applicant.image_path.url%>);background-size:cover;">

            </div>
            <div class="img-base1">
            <br><br><center>
            <span class="sb1">Nickname:</span>&nbsp<%=@applicant.nickname%>
              
            <br><br>
            <span class="sb1">Preferred Room:</span>&nbsp<%=@applicant.room_type%>
                        <br><br>
            <span class="sb1">Status:</span>&nbsp<%=@applicant.stage%>
            <br><br>
            <span class="sb1">Assigned Room:</span>&nbsp
                    <%if @applicant.room_number==nil%>
        <%if @applicant.room_type=="Any"%>
          <%=collection_select(:post, :applicant_id, Room.all, :room_number, :room_number, {prompt: '---'}, {:class=>"csel", :onchange=>"window.location='#{room_select_path(@applicant.id)}?room_number=' + this.value"})%>
        <%else%>
          <%=collection_select(:post, :applicant_id, Room.where(room_type: "#{@applicant.room_type}"), :room_number, :room_number, {prompt: '---'}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(@applicant.id)}?room_number=' + this.value"})%>
          <%end%>
        <%else%>
          <%if applicant.room_type=="Any"%>
          <%=collection_select(:post, :applicant_id, Room.all, :room_number, :room_number, {selected: @applicant.room_number}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(@applicant.id)}?room_number=' + this.value"})%>
          <%else%>
          <%=collection_select(:post, :applicant_id, Room.where(room_type: "#{@applicant.room_type}"), :room_number, :room_number, {selected: @applicant.room_number}, { :class=>"csel",:onchange=>"window.location='#{room_select_path(@applicant.id)}?room_number=' + this.value"})%>
          <%end%>
        <%end%>
            </center>
            </div>
          </div>

          <div class="col-md-8 appli_rbox">
          <div class="row">
            <div class="col-md-6">
               <br><br>
      <span class="sb1">Name:</span>&nbsp<%=@applicant.first_name%>
      <%=@applicant.middle_initial%>
      <%=@applicant.last_name%>
      <br><br>
      <span class="sb1">Gender:</span>&nbsp<%=@applicant.gender%>
      <br><br>
      <span class="sb1">Civil Status:</span>&nbsp<%=@applicant.civil_status%>
      <br><br>
      <span class="sb1">email:</span>&nbsp<%=@applicant.email%>
      <br><br>
      <span class="sb1">Nationality:</span>&nbsp<%=@applicant.nationality%>
            </div>
            <div class="col-md-6">
              <br><br>      <span class="sb1">Address:</span>&nbsp<%=@applicant.address%>
      <br><br>
      <span class="sb1">Contact no:</span>&nbsp<%=@applicant.contact_number%>
      <br><br>
      <span class="sb1">Landline no:</span>&nbsp<%=@applicant.landline_number%>
      <br><br>
      <span class="sb1">Religion:</span>&nbsp<%=@applicant.religion%>
      <br><br>
      <span class="sb1">Birthday:</span>&nbsp<%=@applicant.birthday%>
            </div>
          </div>
          <hr class="hr-sh">
          <div class="row">
            <div class="col-md-6">
      <span class="sb1">School:</span>&nbsp<%=@applicant.school%>
      <br><br>
      <span class="sb1">School Address:</span>&nbsp<%=@applicant.school_address%>
            </div>
            <div class="col-md-6">
            <span class="sb1">Major:</span>&nbsp<%=@applicant.major%>
      <br><br>
      <span class="sb1">Year Level:</span>&nbsp<%=@applicant.year%>
            </div>
          </div>
          <hr class="hr-sh">
                    <div class="row">
            <div class="col-md-6">
              <span class="sb1">Medical Information:</span>&nbsp<%=@applicant.medical_information%>
            </div>
            <div class="col-md-6">
              <span class="sb1">Personal Information:</span>&nbsp<%=@applicant.personal_information%>
            </div>
          </div>
          <hr class="hr-sh">
           <div class="row">
            <div class="col-md-6">
              <span class="sb1">Guardian:</span>&nbsp<%=@applicant.guardian_name%>
      <br><br>
      <span class="sb1">Guardian Contact no:</span>&nbsp<%=@applicant.guardian_contact_number%>
            </div>
            <div class="col-md-6">
              <span class="sb1">Guardian Address:</span>&nbsp<%=@applicant.guardian_address%>
      <br><br>
      <span class="sb1">Guardian email:</span>&nbsp<%=@applicant.guardian_email%>
            </div>
          </div>
          <hr class="hr-sh">
     
<%if @applicant.stage=="Pending"%>
        <%=link_to "Approve", approve_path(@applicant.id), :controller=> "applicants",:action=>:approve, method: 'post',:class=>"choosebtn1 btn" %>
        <%else%>
        <%=link_to "Create Account", create_account_path(@applicant.id),:class=>"choosebtn1 btn", :controller=> "applicants",:action=>:create_account, method: 'post' %>
        <%end%>
        <%= link_to 'Reject', @applicant,:class=>"choosebtn2 btn", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
