<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <center>
        <div class="col-md-1" style="">
          Profile
        </div>
        <div class="col-md-1" style="margin-top:-10px;">
          Statement of Account
        </div>
        <div class="col-md-1" style="margin-top:-10px;">
          My Child's Door Log
        </div>
        <div class="col-md-1" style="">
          Eligibility
        </div>
        </center>

        </div>
        
      </div>
<div class="container-fluid appli_abox">
        <div class="">
          <div class="col-md-4">
            <div id="imgholder" class="imgholder1" style="background-size:cover;background-position:center;background-image:url(<%=@applicant.image_path.url%>);background-size:cover;">

            </div>
            <div class="img-base1">
            <br><br><center>
            <span class="sb1">Nickname:</span>&nbsp<%=@applicant.nickname%>
              <br><br>
            <span class="sb1">Room no:</span>&nbsp<%=@applicant.room_number%>
            <br><br>
            <span class="sb1">Violations:</span>&nbsp
            </center>
            </div>
          </div>

          <div class="col-md-8 appli_rbox">
      <br><br>
      <span class="sb1">Name:</span>&nbsp<%=@applicant.first_name%>
      <%=@applicant.middle_initial%>
      <%=@applicant.last_name%>
      <br><br>
      <span class="sb1">Gender:</span>&nbsp<%=@applicant.gender%>
      <br><br>
      <span class="sb1">Civil Status:</span>&nbsp<%=@applicant.civil_status%>
      <br>
      <hr>
      <br>
      <span class="sb1">Address:</span>&nbsp<%=@applicant.address%>
      <br><br>
      <span class="sb1">Contact no:</span>&nbsp<%=@applicant.contact_number%>
      <br><br>
      <span class="sb1">Landline no:</span>&nbsp<%=@applicant.landline_number%>
      <br><br>
      <span class="sb1">email:</span>&nbsp<%=@applicant.email%>
      <br><br>
      <span class="sb1">Nationality:</span>&nbsp<%=@applicant.nationality%>
      <br><br>
      <span class="sb1">Religion:</span>&nbsp<%=@applicant.religion%>
      <br><br>
      <span class="sb1">Birthday:</span>&nbsp<%=@applicant.birthday%>
      <br><br>
      <span class="sb1">School:</span>&nbsp<%=@applicant.school%>
      <br><br>
      <span class="sb1">School Address:</span>&nbsp<%=@applicant.school_address%>
      <br><br>
      <span class="sb1">Major:</span>&nbsp<%=@applicant.major%>
      <br><br>
      <span class="sb1">Year Level:</span>&nbsp<%=@applicant.year%>
      <br><br>
      <span class="sb1">Medical Information:</span>&nbsp<%=@applicant.medical_information%>
      <br><br>
      <span class="sb1">Personal Information:</span>&nbsp<%=@applicant.personal_information%>
      <br><br>
      <span class="sb1">Guardian:</span>&nbsp<%=@applicant.guardian_name%>
      <br><br>
      <span class="sb1">Guardian Contact no:</span>&nbsp<%=@applicant.guardian_contact_number%>
      <br><br>
      <span class="sb1">Guardian Address:</span>&nbsp<%=@applicant.guardian_address%>
      <br><br>
      <span class="sb1">Guardian email:</span>&nbsp<%=@applicant.guardian_email%>
      <br><br>


          </div>
        </div>
      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
