<!DOCTYPE html>
<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header">
        <center>
          <span class="p1_title">DORMUS Application Process</span>
        </center>
      </div>
      <div class="container-fluid p1_abox" style="">
        <div class="col-md-4">
         <%= link_to edit_applicant_path(params[:id]), :style=>"text-decoration: none;" do %>
          <div class="p1_sbox sbox1">
            <center>
              <h3>Step 1</h3>
              <div class="p1_writeup">
                Edit your tenant application form and information sheet
                
              </div>

              <img id="step1" src="/assets/step1.png">
            </center>
<center><%= @applicant.first_name %> <%=@applicant.last_name%></center>
             <img class="check3" src="/assets/check.png">

          </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to edit_preference_path(params[:id]), :style=>"text-decoration: none;" do%>
          <div class="p1_sbox">
            <center>
              <h3>Step 2</h3>
              <div class="p1_writeup">
                <% if @applicant.room_type.present? %>
                   
                  Edit room
                <% else %>
                  Select a room
                <% end %>
              </div>
              <img id="step2" src="/assets/step2.png">
            </center>
            <% if @applicant.room_type.present? %>
            <br>
            <center><%= @applicant.room_type %></center>
            <img class="check4" src="/assets/check.png">

            <%end%>
          </div>
          <%end%>
        </div>
        <div class="col-md-4">
          <% if @applicant.room_type.present? %>
          <a href="http://mydorm.ph/" class="email-link">
          <div class="p1_sbox">
            <center>
              <h3>Step 3</h3>
              <div class="p1_writeup">
                Wait for email confirmation!
                <br>
                (Within the day)
              </div>
              <img id="step3" src="/assets/step3.png">
            </center>
          </div>
          </a>
          <%else%>
          <div class="p1_sbox1">
            <center>
              <h3>Step 3</h3>
              <div class="p1_writeup">
                Wait for email confirmation!
                <br>
                (Within the day)
              </div>
              <img id="step3" src="/assets/step3.png">
            </center>
          </div>
          <%end%>
        </div>
      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
