<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>

<section id="jumbotron-landing" class="container-fluid row">
  <div class="col-md-4 jumbotron-left-div" style="padding-top:7%;">
    
  </div>
  <div class="col-md-8">
    <div class="col-md-1"></div>
    <center>
      <div class="col-md-10">
        <div class="sign_up_form-home">
         <div class="card-home log_form">
           <div class="header-home">
             <h2 class=" signin-text">FORGOT YOUR PASSWORD?</h2>
           </div>
           <br>
           <div class="card-home-inner signin-text">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <p><%= f.label :email, :class=>"card-home-label signin-text" %></p>
              <p><%= f.email_field :email, autofocus: true %></p>
              <br>
              <p><%= f.submit "Reset Password",:class=>"btn sign-in-home btncont-home signin-text" %></p>
            <% end -%>
            <br>
            <p><%= link_to 'Back', new_session_path(resource_name) %></p>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>