<p id="notice"><%= notice %></p>

<h1>Listing Laundry Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Time ordered</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laundry_order_items.each do |laundry_order_item| %>
      <tr>
        <td><%= laundry_order_item.time_ordered %></td>
        <td><%= laundry_order_item.quantity %></td>
        <td><%= link_to 'Show', laundry_order_item %></td>
        <td><%= link_to 'Edit', edit_laundry_order_item_path(laundry_order_item) %></td>
        <td><%= link_to 'Destroy', laundry_order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laundry order item', new_laundry_order_item_path %>
