<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <div class="col-md-5">
          
        </div>
        <div class="col-md-2">
        <center>
           Door Log
          </center>

        </div>
        <div class="col-md-5">
                 
        </div>

        </div>
        
      </div>

      <div class="container-fluid p1_mbox"style="height:60vh; overflow-y:scroll;margin-top:100px;">
       

    <% @door_logs.sort{|a,b| a.time_enter <=> b.time_enter}.each do |door_log| %>
      <div class="row" style="padding-left:6vw;padding-right:0vw;height:60px;">
        <div class="col-md-1">
        <%if door_log.direction=="in"%>
        <%= image_tag('/assets/in.png',:style=>"height:55px;") %>
        <%else%>
        <%= image_tag('/assets/out.png',:style=>"height:55px;") %>
        <%end%>
        
        </div>
        <div class="col-md-1 doorlog-col"><center>
          <%= door_log.direction.upcase %></center>
        </div>
        <div class="col-md-3 doorlog-col">
        <center>
        
        <% dormer = Applicant.find(door_log.dormer_id) %>
<%= dormer.first_name %> <%= dormer.last_name %>
        </center>
        </div>
        <div class="col-md-3 doorlog-col">
<%adjusted_datetime = (door_log.time_enter - 8.hours).to_datetime%>


        <center><%= adjusted_datetime.strftime("%l:%M %P") %></center></div>
        <div class="col-md-3 doorlog-col"><center><%= door_log.time_enter.strftime("%-d - %m - %Y") %></center></div>

      </div>
      <hr class="hr-doorlog">
    <% end %>

<br>


      </div>



    </div>

  </div>
</body>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>

</html>
