<p id="notice"><%= notice %></p>

<p>
  <strong>Violation type:</strong>
  <%= @violation.violation_type %>
</p>

<p>
  <strong>Violation points:</strong>
  <%= @violation.violation_points %>
</p>

<p>
  <strong>Violation description:</strong>
  <%= @violation.violation_description %>
</p>

<%= link_to 'Edit', edit_violation_path(@violation) %> |
<%= link_to 'Back', violations_path %>
