<!DOCTYPE html>
<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header">
        <center>
          <span class="appli_title">Select a room</span>
        </center>
      </div>
      <div class="container-fluid appli_abox">
       <div class="">

        <%= simple_form_for(@preference) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          

          
          <%= f.submit 'A' %>
          <%= f.submit 'B' %>
          
        </div>


        <% end %>

        <%= link_to 'Back', root_path %>

      </div>
    </div>



  </div>

</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
