<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deal_type %>
    <%= f.select :deal_type, options_for_select(["Water Utility Billing", "Electricity Utility Billing", "Food Plan Payment", "Laundry Service Payment", "Others"]), {}, {:onchange=>"checkIfOthers()", :id=>"deal-type", :class=>"ffield"}%>
    <%= text_field_tag :others, "", :id=>'deal-type-others',:style=>"display:none;", :class=>"ffield"%>
  </div>
  <div class="field">
    <%= f.label :amount_due %>
    <%= f.text_field :amount_due, :class=>"ffield" %>
  </div>
  <div class="field">
    <%= f.label :amount_paid %>
    <%= f.text_field :amount_paid, :class=>"ffield" %>
  </div>
  <div class="field">
    <%= f.label :deal_timestamp, :style=>"margin-right: 123px;" %>
    <%= f.datetime_select :deal_timestamp, {}, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :payment_for %>
    <%= f.collection_select :payment_for, Applicant.order(:last_name), :full_name, :full_name, {}, :class=>"ffield" %>
  </div>
  <br><br><br>
  <div class="aactions">
    <%= f.submit "Create Transaction", class: "btn dsendbtn" %>
  </div>
<% end %>

<script type="text/javascript">
  function checkIfOthers() {
    var check = document.querySelector('#deal-type');
    var result = document.querySelector('#deal-type-others');

    if (check.value == "Others") {
      result.style.display = "inline";
    }
    else{
      result.style.display = "none";
    };
  }
</script>