<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deal_type %><br>
    <%= f.select :deal_type, options_for_select(["Water Utility Billing", "Electricity Utility Billing", "Food Plan Payment", "Laundry Service Payment", "Others"]), {}, {:onchange=>"checkIfOthers()", :id=>"deal-type"}%>
    <%= text_field_tag :others, "", :id=>'deal-type-others',:style=>"display:none;"%>
  </div>

  <div class="field">
    <%= f.label :amount_due %><br>
    <%= f.text_field :amount_due %>
  </div>
  <div class="field">
    <%= f.label :amount_paid %><br>
    <%= f.text_field :amount_paid %>
  </div>
  <div class="field">
    <%= f.label :deal_timestamp %><br>
    <%= f.datetime_select :deal_timestamp %>
  </div>
  <div class="field">
    <%= f.label :payment_for %><br>
    <%= f.collection_select :payment_for, Applicant.order(:last_name), :full_name, :full_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  function checkIfOthers() {
    var check = document.querySelector('#deal-type');
    var result = document.querySelector('#deal-type-others');

    if (check.value == "Others") {
      result.style.display = "inline";
    }
    else{
      result.style.display = "none";
    };
  }
</script>