<div class="default_bg container-fluid">
  <div class="card">
    <div class="card_header">
        <div class="col-md-2">Transaction #</div>
        <div class="col-md-3">Payment For</div>
        <div class="col-md-3">Transaction Type</div>
        <div class="col-md-1">Amount Due</div>
        <div class="col-md-1">Amount Paid</div>
        <div class="col-md-2">Date of Billing</div>
    </div>
    <div class="container-fluid">
      <br><br><br><br><br>
        <% @deals.each do |deal| %>
          <div class="col-md-2"><%= deal.id %></div>
          <div class="col-md-3"><%= deal.statement_of_account.applicant.first_name %></div>
          <div class="col-md-3"><%= deal.deal_type %></div>
          <div class="col-md-1"><%= deal.amount_due %></div>
          <div class="col-md-1"><%= deal.amount_paid %></div>
          <div class="col-md-2"><%= deal.deal_timestamp %></div>
        <% end %>
      </div>
  </div>
</div>