<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>

<section id="jumbotron-landing" class="container-fluid row">
  <div class="col-md-4 jumbotron-left-div" style="padding-top:7%;">
    
  </div>
  <div class="col-md-8">
    <div class="col-md-1"></div>
    <center>
      <div class="col-md-10">
        <div class="sign_up_form-home">
         <div class="card-home log_form">
           <div class="header-home">
             <h2 class=" signin-text" style="font-size:5vh; font-weight:bold;">SIGN IN</h2>
           </div>
           <br>
           <div class="card-home-inner signin-text">
                 <% if flash[:alert] %>
        <span style="color:white;"><%= flash[:alert] %></span><br><br>
      <% end %>
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <p><%= f.label :email, :class=>"card-home-label signin-text" %></p>
              <p><%= f.text_field :email, :placeholder=>"email@example.com" %></p>

              <p><%= f.label :password, :class=>"card-home-label signin-text" %></p>
              <p><%= f.password_field :password, :placeholder=>"********" %></p>
  <!-- 
              <% if devise_mapping.rememberable? -%>
              <p><%= f.check_box :remember_me %> <%= f.label :remember_me, :class=>"card-home-label signin-text" %></p>
              <% end -%>
   -->
              <br>
              <p><%= f.submit "Sign in",:class=>"btn sign-in-home btncont-home signin-text" %></p>
            <% end -%>
          </div>
          <br>
          <%= link_to "Not yet a dormer?", root_path, {:style=>'color:white;', :class=>'css_class'} %><br />
          <%= link_to "Forgot your password?", new_password_path(resource_name), {:style=>'color:white;', :class=>'css_class'}  %><br />
        </div>
      </div>
    </div>
  </center>
</div>