<div class="default_bg container-fluid">
  <div class="card">
    <div class="card_header">
        <div class="col-md-2"><center>Tenant</center></div>
        <div class="col-md-2"><center>Bill Type/Description</center></div>
        <div class="col-md-2"><center>Total amount</center></div>
        <div class="col-md-2"><center>Due date</center></div>
        <div class="col-md-2"><center>Date paid</center></div>
       
        <div class="col-md-2"><a href="https://dormus.herokuapp.com/door_logs.csv" class="choosebtnprint" style="text-decoration:none;">Export to CSV</a></div>
    </div>
    <div class="container-fluid p1_abox" style="">
      
      <br><br><br><br>
      <br><br>
      <div class="scrollbox"style="padding-left:1vw;padding-right:1vw;">
    <% @billings.each do |billing| %>
    <div class="row">
        <div class="col-md-2"><center>
        <%@applicants.each do |a|%>
          <%if a.id==billing.tenant_id%>
          <%=a.first_name%> &nbsp <%=a.last_name%>
          <%end%>
        <%end%>
        </center></div>
        <div class="col-md-2">
        <center>
        <%if billing.bill_type ==1 %>
        Water Bill
        <%elsif billing.bill_type==2%>
          Electricity Bill
        <%else%>
        <%= billing.description %>
        <%end%>
        
        </center></div>
        <div class="col-md-2"><center>Php <%= '%.2f'%[billing.total_amount.round(2)] %></center></div>
        <div class="col-md-2"><center><%= billing.due_date %></center></div>
        <div class="col-md-2"><center>
        <%if billing.datetime_paid!=nil%>
         <%= billing.datetime_paid.strftime("%Y-%m-%d") %>
        <%else%>
        <%end%>

        </center></div>
        <div class="col-md-2"><center>
        <%= link_to 'Delete', billing, method: :delete, data: { confirm: 'Are you sure?' } %></center> </div>
    </div>
    <% end %>
    </div>
      </div>
  </div>
</div>