<p id="notice"><%= notice %></p>

<p>
  <strong>Tenant:</strong>
  <%= @billing.tenant_id %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @billing.total_amount %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @billing.due_date %>
</p>

<p>
  <strong>Bill type:</strong>
  <%= @billing.bill_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @billing.description %>
</p>

<p>
  <strong>Datetime paid:</strong>
  <%= @billing.datetime_paid %>
</p>



<%= link_to 'Edit', edit_billing_path(@billing) %> |
<%= link_to 'Back', billings_path %>
