<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <div class="col-md-3">
          <center>
          </center>
        </div>
        <div class="col-md-2">
           <center>Bed Number
           </center>
        </div>
        <div class="col-md-3">
          <center>Tenants
          </center>
        </div>
        <div class="col-md-1">
          <center>
          </center>
        </div>
        <div class="col-md-3">
          <center>Status
          </center>
        </div>

        </div>
        
      </div>
      <div class="container-fluid p1_abox">
        
      <br><br><br><br>
      
      <div class="scrollbox"style="padding-left:3vw;margin-top:15px;">
      
    <% @rooms.each do |room| %>
      <div class="row">
        <div class="col-md-3">
          <center><b style="font-size:34px;"><%= room.room_number %></b>
          <br>
          <%= room.room_type %>
          </center>
        </div>
        <div class="col-md-2">
        <center>
          <%letters = ('A'..'Z').to_a%>
          <%i=1%>
          <%until i > room.room_capacity  do%>
            <%=letters.shift%><br>
          <%i +=1%>
          <%end%>
          </center>
        </div>
        <div class="col-md-3">
          <center>
          <%roomid=room.id%>
          <% room.applicants.each do |a| %>
            <%= a.first_name %> <%= a.last_name %><br>
          <% end %>
                    <% spaceleft=room.room_capacity-room.applicants.count %>
          <%(0...spaceleft).each do%>

              -
            <br>
          <% end %>
          </center>
  
        </div>
        <div class="col-md-1">
        <%modalid=roomid%>
          <% room.applicants.each do |a| %>
             <a style="" data-toggle="modal" data-target="#remove<%=modalid%><%=a.id%>">-</a><br>
          <% end %>
          
          <% spaceleft=room.room_capacity-room.applicants.count %>
          <%(0...spaceleft).each do%>

                  <a style="" data-toggle="modal" data-target="#add<%=modalid%>">+</a>
            <br>
          <% end %>
        </div>
        <div class="col-md-3">
        <center><%= room.applicants.count %>/<%= room.room_capacity %>
          <br>
          <%if room.applicants.count>=1%>
          <%= select_tag :room_status, options_for_select(["Available", "Not Available"]),  {:onchange=>"window.location='#{room_status_path(room.id)}?room_status=' + this.value",:disabled=>true}%><br>
            <span style="color:grey;">*remove dormers first</span>
          <%else%>
          <%if room.room_status!="Not Available"%>
          <%= select_tag :room_status, options_for_select(["Available", "Not Available"]),  {:onchange=>"window.location='#{room_status_path(room.id)}?room_status=' + this.value"}%>
          <%else%>
           <%= select_tag :room_status, options_for_select(["Not Available", "Available"]),  {:onchange=>"window.location='#{room_status_path(room.id)}?room_status=' + this.value"}%>
          <%end%>
          <%end%>

          </center>
      




        </div>
      </div>
      <hr class="hr-rooms">

    <% end %>
    </div>


      </div>



    </div>

  </div>

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
<% @rooms.each do |room| %>
<!--add to room-->
<div id="add<%= room.id%>" class="modal fade" role="dialog" style="">
  <div class="modal-dialog modal-lg" style="margin-top:22vh; width:40vw;">

    <!-- Modal content-->
    <div class="modal-content"style="background-color:#efefef;height:32vh;">
      <div class="modal-header">
        <center>
        Add Tenant
        </center>
      </div>
      <div class="modal-body" style="padding-top:30px;">
        <div class="col-md-4">
          <b style="font-size:34px;"><%= room.room_number %></b>
        </div>
        <div class="col-md-8">
            <div>
            <%= form_tag '/rooms/update_dormers' do %>

    
              <%= select_tag :applicant_id, options_for_select(@applicants.collect{ |u| [u.full_name,u.id]}) %>


              <%= hidden_field_tag 'category', '',:value => "add" %>
              <%= hidden_field_tag 'room', '',:value =>"#{room.id}" %>
              <br>
              <%= submit_tag "Apply", :class=>"btn sendbtn3" %>
              <button type="button" class="btn sendbtn4" data-dismiss="modal">Cancel</button>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<% end %>
<!--remove from room-->
<% @rooms.each do |room| %>
<% room.applicants.each do |a| %>
<div id="remove<%=room.id%><%=a.id%>" class="modal fade" role="dialog" style="">
  <div class="modal-dialog modal-lg" style="margin-top:22vh; width:40vw;">

    <!-- Modal content-->
    <div class="modal-content"style="background-color:#efefef;height:32vh;">
      <div class="modal-header">
        <center>
        Remove
        </center>
      </div>
      <div class="modal-body" style="padding-top:30px;">
        <div class="col-md-4">
          <b style="font-size:34px;"><%= room.room_number %></b>
        </div>
        <div class="col-md-8">
          <div>
            <%= form_tag '/rooms/update_dormers' do %>
              Remove <%=a.first_name%> <%=a.last_name%>?
              <%= hidden_field_tag 'applicant_id', '',:value => a.id %>
              <%= hidden_field_tag 'category', '',:value => "delete" %>
              <%= hidden_field_tag 'room', '',:value =>"#{room.id}" %>
              <br>
              <%= submit_tag "Apply", :class=>"btn sendbtn3" %>
              <button type="button" class="btn sendbtn4" data-dismiss="modal">Cancel</button>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<% end %>
<% end %>
</html>
