<html>
<head>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header" style="padding-left:3vw;">
      <div class="row">
        <div class="col-md-2">
          <center>
          </center>
        </div>
        <div class="col-md-3">
           <center>Dormers
           </center>
        </div>
        <div class="col-md-2">
          <center>Status
          </center>
        </div>
        <div class="col-md-2">
          <center>Room Utility Balance
          </center>
        </div>
        <div class="col-md-3">
          <center>Actions
          </center>
        </div>

        </div>
        
      </div>
      <div class="container-fluid p1_abox">
        
      <br><br><br><br>
      
      <div class="scrollbox"style="padding-left:3vw;margin-top:15px;">
      
    <% @rooms.each do |room| %>
      <div class="row">
        <div class="col-md-2">
          <center><b><%= room.room_number %></b>
          <br>
          <%= room.room_type %>
          </center>
        </div>
        <div class="col-md-3">
          <% room.applicants.each do |a| %>
            <%= a.first_name %> <%= a.last_name %><br>
          <% end %>
        </div>
        <div class="col-md-2">
          <center><%= room.applicants.count %>/<%= room.room_capacity %>
          <br>
          select here</center>
        </div>
        <div class="col-md-2">
          
        </div>
        <div class="col-md-3">
          <div>
            <%= form_tag '/rooms/update_dormers' do %>
              <%= autocomplete_field_tag 'applicant', '', autocomplete_applicant_first_name_rooms_path, :size => 75, :class=>"form-control", :id_element => "#add_applicant_id#{room.id}", :placeholder => "Add Dormer to Room #{room.room_number}" %>
              <%= hidden_field_tag 'applicant_id', '',:id => "add_applicant_id#{room.id}" %>
              <%= hidden_field_tag 'category', '',:value => "add" %>
              <%= hidden_field_tag 'room', '',:value =>"#{room.id}" %>
              <%= submit_tag "", style: "display:none"; %>
            <% end %>
          </div>
          <div>
            <%= form_tag '/rooms/update_dormers' do %>
              <%= autocomplete_field_tag 'applicant', '', autocomplete_applicant_first_name_rooms_path, :size => 75, :class=>"form-control", :id_element => '#delete_applicant_id#{room.id}', :placeholder => "Delete Dormer from Room #{room.room_number}" %>
              <%= hidden_field_tag 'applicant_id', '',:id => "delete_applicant_id#{room.id}" %>
              <%= hidden_field_tag 'category', '',:value => "delete" %>
              <%= hidden_field_tag 'room', '',:value =>"#{room.id}" %>
              <%= submit_tag "", style: "display:none"; %>
            <% end %>
          </div>
      




        </div>
      </div>
      <hr class="hr-rooms">

    <% end %>
    </div>


      </div>



    </div>

  </div>

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>


</html>

<% @rooms.each do |room| %>
      <tr>
        <td><%= room.room_number %></td>
        <td><%= room.room_type %></td>
        <td><%= room.room_capacity %></td>
        <td><%= room.room_price %></td>
        <td><%= room.occupant_count %></td>
        <td><%= room.room_status %></td>
        <td><%= room.floor_area %></td>
        <td><%= room.bed_count %></td>
        <td><%= room.bathroom_count %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>