<!DOCTYPE html>
<html>
<head>
	<title>DORMUS</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/assets/favicon.ico" />
</head>
<nav class="navbar navbar-custom navbar-inverse .navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

				<% if admin_signed_in? %>
					<a class="navbar-brand" href=""><%= link_to image_tag("/assets/dormus_logo.png", :class=> "dormus_logo"), applicants_path %></a>
				<% elsif parent_signed_in? %>
					<a class="navbar-brand" href=""><%= link_to image_tag("/assets/dormus_logo.png", :class=> "dormus_logo"), show_dormer_path(current_parent.applicant) %></a>
				<% elsif  applicant_signed_in?  %>
					<a class="navbar-brand" href=""><%= link_to image_tag("/assets/dormus_logo.png", :class=> "dormus_logo"), show_dormer_path(current_applicant) %></a>
				<% else %>
					<a class="navbar-brand" href="/"><img id="dormus_logo" src="/assets/dormus_logo.png"></a>
				<% end %>		
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if parent_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font style="font-size: 10px;">Parent of </font><%=  current_parent.applicant.first_name %> <%= current_parent.applicant.last_name %><span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "Logout", destroy_parent_session_path, method: :delete %></center></li>
							<li></li>
						</ul>
					</li>
				</ul>
			<% elsif admin_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dormers<span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "Applications", applicants_path %></center></li>
							<li><center><%= link_to "Current", dormer_list_path %></center></li>
							<li></li>
						</ul>
					</li>
					<li>
						<a href=""><%= link_to "Rooms", rooms_path %></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "Meal Plans", today_food_path %></center></li>
							<li><center><%= link_to "Laundry" %></center></li>
							<li><center><%= link_to "Door Log", door_logs_path %></center></li>
							<li></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finances<span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "View Transactions", deals_path %></center></li>
							<li><center><%= link_to "Add Transactions", new_deal_path %></center></li>
							<li><center><%= link_to "Utility" %></center></li>
							<li></li>
						</ul>
					</li>
					<li>
						<a href=""><%= link_to "Logout", destroy_admin_session_path, method: :delete %></a>
					</li>
				</ul>
			<% elsif applicant_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="">Meal Plans</a>
					</li>
					<li>
						<a href="">Laundry Services</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_applicant.first_name %> <%= current_applicant.last_name %><span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "Edit Profile", edit_applicant_path(current_applicant) %></center></li>
							<li><center><%= link_to "Logout", destroy_applicant_session_path, method: :delete %></center></li>
							<li></li>
						</ul>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Application <span class="sr-only">(current)</span></a></li>
					<li><a href="http://mydorm.ph/">myDorm.ph</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="p1_exi"><a class="p1_existacc" >Already have an account?</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in as<span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:white">
							<li><center><%= link_to "Dormer", new_applicant_session_path %></center></li>
							<li><center><%= link_to "Parent", new_parent_session_path %></center></li>
							<li><center><%= link_to "Admin", new_admin_session_path %></center></li>
							<li></li>
						</ul>
					</li>
				</ul>
			<% end %>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<body>

	<%= yield %>

</body>
</html>
